<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ck.ckeller.wgutermtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AssessmentEditorActivity"
            android:label="@string/title_activity_assessment_editor"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AssessmentViewerActivity"
            android:label="@string/title_activity_assessment_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssessmentListActivity"
            android:label="@string/title_activity_assessment_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseEditorActivity"
            android:label="@string/title_activity_course_editor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseViewerActivity"
            android:label="@string/title_activity_course_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermEditorActivity"
            android:label="@string/title_activity_term_editior"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseListActivity"
            android:label="@string/title_activity_course_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermListActivity"
            android:label="@string/title_activity_term_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TermViewerActivity"
            android:label="@string/title_activity_term_viewer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".DataProvider"
            android:authorities="ck.ckeller.wgutermtracker.dataprovider"
            android:exported="false" />
    </application>

</manifest>